{% extends 'base.html.twig' %}

{% block title %}Informe de la posición{% endblock %}

{% block body %}
    <style>

        .lifts {
            background-color: rgba(0,0,0,.03);
        }

        .container {
            width: 95%;
            max-width: 900px;
            margin: 0 auto;
            font: 18px/1.5 sans-serif;
            padding: 20px;
        }

        .buttons{
            padding-bottom: 20px;
        }

        .lift {
            border-top: 2px solid #CCC;
            display: none;
        }

        h2{
            color: #0475c3;
        }

        h4{
            color: #555;
        }

        input,
        select,
        button{
            padding: 10px;
            margin: 5px;
            border-radius: 5px;
        }

        button{
            padding: 15px;
            color: #FFFFFF;
            border: 1px solid #439DDC;
            background: linear-gradient(#047CD0,#01538A);
            cursor: pointer;
        }


        table{
            color: #555;
            font-size: 15px;
        }

        thead{
            color: #FFFFFF;
            border: 1px solid #439DDC;
            background: linear-gradient(#047CD0,#01538A);
        }

        td {
            text-align: center;
        }

        tr.even{
             background: #F5F5F5 !important;
         }

        .dataTables_filter{
            display: none;
        }
    </style>

    <div class="lifts">
        <div class="container">
            <h1>Informe de la posición</h1>
        <div class="buttons">
            {% for lift in liftList %}
                <button onclick="showLift({{ lift.id|e }})">Mostrar Ascensor {{ lift.name|e }}</button>
            {% endfor %}
        </div>

        {% for lift in liftList %}
            <div id="lift{{ lift.id }}" class="lift">
                <h2>Ascensor {{ lift.name|e }}</h2>
                <h4>Total de plantas recorridas ({{ lift.travelTotal|e }})</h4>

                <table class="table">
                    <thead>
                    <th>Hora</th>
                    <th>Planta de la petición</th>
                    <th>Posicion Inicial</th>
                    <th>Posicion Final</th>
                    <th>Plantas recorridas</th>
                    <th>Total de plantas recorridas</th>
                    </thead>
                    <tbody>
                    {% for sequence in lift.sequences %}
                        <tr>
                            <td>{{ sequence.hour|e }}</td>
                            <td>{{ sequence.position|e }}</td>
                            <td>{{ sequence.origin|e }}</td>
                            <td>{{ sequence.destiny|e }}</td>
                            <td style="text-align: left;">{{ sequence.destinies|join(', ', ' and ') }}</td>
                            <td>{{ sequence.total|e }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        {% endfor %}

    </div>
    </div>
    <script>
        $('.table').DataTable();

        function showLift(id) {
            $('.lift').css({display: 'none'});
            $('#lift'+id).css({display: 'block'});
        }

        $('.buttons button:first-child').trigger('click');
    </script>
{% endblock %}
